$green-bg: #BFCCBA;
$main-white: #FAFAFA;
$sidebar-bg: #F5F5F5;
$sidebar-text-black: rgba(0, 0, 0, 0.60);
$sidebar-border-gray: #EEEEEE;
$sidebar-hover-gray: #EAEAEA;
$sidebar-rec-gray: rgba(217, 217, 217, 0.60);
$sidebar-rec-red: rgba(255, 0, 0, 0.60);
$sidebar-rec-blue: rgba(0, 194, 255, 0.60);
$sidebar-rec-yellow: rgba(255, 184, 53, 0.60);
$sidebar-tag-blue: rgba(139, 234, 255, 0.60);
$sidebar-tag-pink: rgba(254, 182, 182, 0.60); 
$sidebar-tag-gray: rgba(217, 217, 217, 0.60);
$main-text-black: rgba(7, 7, 7, 0.80);
$main-border-gray: #EEEEEE;
$yellow-sticker: #FDF3B5;
$blue-sticker: #D1EAEE;
$pink-sticker: #FEDADA;
$orange-sticker: #FFD4AA;
$gray-sticker: #EBEBEB;
$calendar-gray: #a1a1a1;
$window-btn-gray: rgba(161, 161, 161, 0.40);
$window-text-gray: rgba(67, 67, 67, 0.90);
$sticker-plus-gray: #747373;
$sticker-menu-white: #d9d9d9;