html,
body {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Prompt", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: inside;
}

@font-face {
  font-family: "Prompt", sans-serif;
  src: url(../css/fonts/Prompt-Regular.ttf);
}
body {
  width: 100%;
  height: 100%;
  background: #BFCCBA;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app__section {
  width: 1140px;
  height: 660px;
  background: #FAFAFA;
  border: none;
  border-radius: 14px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
  overflow-x: auto;
}
.app__section::-webkit-scrollbar {
  display: none;
}

.section__wrapper {
  margin: 20px;
  display: flex;
  gap: 20px;
}

.wrapper__sidebar {
  width: 280px;
  height: 620px;
  background: #F5F5F5;
  border: none;
  border-radius: 10px;
  padding: 10px;
  -webkit-user-select: none;
}
.header__title {
  font-size: 28px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}
.header__search {
  height: 28px;
  display: flex;
  align-items: center;
  background: none;
  border: 1.5px solid #EEEEEE;
  border-radius: 5px;
  margin-top: 4px;
}

.search__icon {
  margin: 5px 10px;
}
.search__text {
  height: 28px;
  padding-top: 3px;
  border: none;
  background: none;
  outline: none;
}
.search__text::-moz-placeholder {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}
.search__text::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}

.task__title {
  padding-top: 20px;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
.task__upcoming {
  display: flex;
  align-items: center;
  gap: 18px;
  height: 28px;
  margin: 5px 0 0 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  transition: 0.6s ease;
  border-radius: 4px;
}
.task__active {
  background: #eaeaea;
}
.task__today {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 18px;
  height: 28px;
  margin: 5px 0 0 0;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  transition: 0.6s ease;
  border-radius: 4px;
}
.task__calendar {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 18px;
  height: 28px;
  margin: 5px 0 0 0;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  transition: 0.6s ease;
  border-radius: 4px;
}
.task__stickywall {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 18px;
  height: 28px;
  margin: 5px 0 0 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  transition: 0.6s ease;
  -webkit-user-select: none;
  border-radius: 4px;
}

.upcoming__icon {
  margin: 5px 0 4px 8px;
}

.today__icon {
  margin: 5px 0 4px 8px;
}

.calendar__icon {
  margin: 5px 0 4px 8px;
}

.stickywall__icon {
  margin: 5px 0 4px 8px;
}

.main__list_container {
  overflow: scroll;
  height: 137px;
}
.main__list_container::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0);
}

.list__line {
  width: 260px;
  height: 1.5px;
  background-color: #eeeeee;
  margin-top: 10px;
}
.list__title {
  padding-top: 20px;
  padding-bottom: 5px;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
.list__personal {
  display: flex;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  height: 28px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  transition: 0.6s ease;
  border-radius: 4px;
  background: #eaeaea;
  padding-left: 10px;
}
.list__active {
  background: #eaeaea;
}
.list__work {
  display: flex;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 18px;
  height: 28px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  transition: 0.6s ease;
  border-radius: 4px;
  background: #eaeaea;
  padding-left: 10px;
  margin-top: 5px;
}
.list__active {
  background: #eaeaea;
}
.list__list1 {
  display: flex;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 18px;
  height: 28px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  transition: 0.6s ease;
  border-radius: 4px;
  background: #eaeaea;
  padding-left: 10px;
  margin-top: 5px;
}
.list__newlist {
  display: flex;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 18px;
  height: 28px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  transition: 0.6s ease;
  border-radius: 4px;
  background: #eaeaea;
  padding-left: 10px;
  margin-top: 5px;
}

.work__number {
  width: 14px;
  height: 14px;
  font-size: 12px;
  background-color: #d9d9d9;
  text-align: center;
  border-radius: 2px;
  margin-left: 122.5px;
}

.list1__number {
  width: 14px;
  height: 14px;
  font-size: 12px;
  background-color: #d9d9d9;
  text-align: center;
  border-radius: 2px;
  margin-left: 124.3px;
}

.tag__line {
  width: 260px;
  height: 1.5px;
  background-color: #eeeeee;
  margin-top: 10px;
}
.tag__items {
  display: flex;
}
.tag__block_item1 {
  background-color: #8beaff;
  padding: 4px 8px;
}
.tag__block_item2 {
  background-color: #feb6b6;
  margin-left: 6px;
  padding: 4px 8px;
}
.tag__block_item3 {
  background-color: #d9d9d9;
  padding: 4px 8px;
  margin-left: 6px;
}
.tag__block_inner {
  height: 22px;
  opacity: 60%;
  border-radius: 2px;
  text-align: center;
  font-size: 12px;
  align-items: center;
  font-weight: 600;
}

.tags__title {
  padding-top: 20px;
  padding-bottom: 5px;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.footer__settings {
  display: flex;
  height: 28px;
  margin-top: 48px;
  cursor: pointer;
  align-items: center;
  gap: 18px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  transition: 0.6s ease;
  border-radius: 4px;
  padding-left: 10px;
  background: #eaeaea;
}
.footer__signout {
  display: flex;
  height: 28px;
  margin-top: 5px;
  cursor: pointer;
  align-items: center;
  gap: 18px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  transition: 0.6s ease;
  border-radius: 4px;
  padding-left: 10px;
  background: #eaeaea;
}

.settings__text {
  font-weight: 600;
}

.signout__text {
  font-weight: 600;
}

.title__text {
  font-family: Prompt, sans-serif;
  font-size: 40px;
  font-weight: 700;
  opacity: 0.8;
}

.inner__wrapper_sticker {
  margin-top: 35px;
  border: 1.5px solid #EEEEEE;
  border-radius: 10px;
  padding: 18px;
  width: 800px;
  height: 540px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 240px));
  grid-template-rows: repeat(auto-fill, minmax(240px, 240px));
  overflow: scroll;
}
.inner__wrapper_sticker::-webkit-scrollbar {
  display: none;
}

.sticker__card {
  font-size: 48px;
  width: 240px;
  height: 240px;
  border-radius: 6px;
  background: #BFCCBA;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  overflow: scroll;
  padding: 10px;
  position: relative;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
}
.sticker__card::-webkit-scrollbar {
  display: none;
}
.sticker__card_new {
  width: 240px;
  height: 240px;
  border-radius: 6px;
  background: #BFCCBA;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  overflow: scroll;
  padding: 10px;
  position: relative;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
}
.sticker__card_new::-webkit-scrollbar {
  display: none;
}
.sticker__card_menu {
  width: 32px;
  height: 60px;
  background: #eeeeee;
  border: none;
  border-radius: 0 4px 0 4px;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  opacity: 0;
  transition: 0.7s;
  transition-delay: 1s;
}

.header-bold {
  font-weight: bold;
  margin-bottom: 20px;
}

.card-add {
  font-size: 48px;
  background: rgba(217, 217, 217, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticker__window_section {
  width: 380px;
  height: 420px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #EAEAEA;
  border-radius: 10px;
  z-index: 10;
}
.sticker__window_options {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-bottom: 12px;
}
.sticker__window_buttons {
  display: flex;
  justify-content: right;
  margin-right: 15px;
  gap: 25px;
}

.window__text_title {
  width: 360px;
  height: 28px;
  background-color: #fbfbfb;
  border-radius: 4px;
  margin: 10px 10px 12px 10px;
  padding: 6px 10px;
  color: #a1a1a1;
  outline: none;
}
.window__text_description {
  width: 360px;
  height: 280px;
  background-color: #fbfbfb;
  border-radius: 4px;
  margin: 0 10px 12px 10px;
  padding: 6px 10px;
  overflow: scroll;
  color: #a1a1a1;
  outline: none;
}
.window__text_description::-webkit-scrollbar {
  display: none;
}
.window__btn_add {
  width: 80px;
  height: 28px;
  border-radius: 4px;
  background-color: rgba(161, 161, 161, 0.4);
  color: rgba(67, 67, 67, 0.9);
  font-weight: 600;
  cursor: pointer;
}
.window__btn_cancel {
  width: 80px;
  height: 28px;
  border-radius: 4px;
  background-color: rgba(161, 161, 161, 0.4);
  color: rgba(67, 67, 67, 0.9);
  font-weight: 600;
  cursor: pointer;
}
.window__buttons_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.window__category_list {
  width: 108px;
  background: rgb(145, 138, 138);
  position: absolute;
  top: 24px;
  left: 0px;
  border-radius: 2px;
  display: none;
}

.window__category_item {
  width: 108px;
  height: 24px;
  background: rgb(215, 215, 215);
  text-align: center;
  list-style: none;
}

.option__category {
  width: 108px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fbfbfb;
  border-radius: 2px;
  position: relative;
}
.option__category_text {
  display: flex;
  gap: 18px;
}
.option__calendar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 108px;
  height: 24px;
  background-color: #fbfbfb;
  padding: 4px;
  border-radius: 2px;
}
.option__date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 108px;
  padding: 4px;
  height: 24px;
  background-color: #fbfbfb;
  border-radius: 2px;
}

.category__text_title {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 184, 53, 0.6);
  margin-left: 0px;
}

.calendar__text_title {
  font-size: 14px;
  font-weight: 400;
  color: #a1a1a1;
}

.date__text_title {
  font-size: 14px;
  font-weight: 400;
  color: #a1a1a1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 5;
}

.main--upcoming {
  font-weight: 700;
  font-size: 40px;
}

.main--today {
  font-weight: 700;
  font-size: 40px;
}

.main--calendar {
  font-weight: 700;
  font-size: 40px;
}

.list__modal {
  height: 28px;
  width: 260px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background-color: #EEEEEE;
  border-radius: 4px;
}

.inner__color_icon {
  width: 18px;
  height: 18px;
  background: rgba(255, 0, 0, 0.6);
  border-radius: 2px;
  margin-left: 6px;
}
.inner__input_text {
  width: 180px;
  height: 28px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 5px;
  outline: none;
}
.inner__btn_item {
  width: 28px;
  height: 28px;
  background-color: rgba(161, 161, 161, 0.4);
  color: black;
  border-radius: 4px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  font-weight: 500;
}

.hidden {
  display: none;
}

.list_text {
  width: 180px;
  padding: 0 5px;
}
.list__personal {
  display: flex;
  align-items: center;
  height: 28px;
  margin: 5px 0;
  color: rgba(0, 0, 0, 0.6);
}

.personal__number {
  width: 14px;
  height: 14px;
  font-size: 12px;
  background-color: #d9d9d9;
  text-align: center;
  border-radius: 2px;
}/*# sourceMappingURL=style.css.map */